:root {
  --bg-color-primary: #ffffff;
  --bg-color-seconadry: #efefef;
  --bg-color-optional: #f13c6e;

  --color-black: #000000;
  --color-light: #ffffff;
  --color-primary: #333333;
  --color-secondary: #828282;
  --color-optional: #f13c6e;

  --border-color-light: #ffffff;
  --border-color-optional: #f13c6e;
  --border-color-line: #efefef;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
  font-weight: 400;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
  background-color: var(--bg-color-primary);
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
ul {
  list-style: none;
}

/* header */

.navbar-secondary {
  background-color: var(--bg-color-seconadry);
  padding: 1em 0;
  display: flex;
  align-items: center;
  min-height: 50px;
}
.navbar-secondary__list {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 0.5em 40px;
  flex-wrap: wrap;
}
.navbar-secondary__link {
  line-height: 16px;
}
.container--logo {
  min-height: 120px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.logo__link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--color-optional);
}
.feedback__link {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black);
}
.feedback_action {
  line-height: 16px;
  color: var(--color-black);
  margin-left: 40px;
  padding: 12px 25px;
  background-color: var(--bg-color-primary);
  border: 2px solid var(--border-color-optional);
  border-radius: 40px;
  cursor: pointer;
}
.navbar-primary {
  padding: 1em 0;
  display: flex;
  align-items: center;
  min-height: 80px;
  justify-content: center;
  border-top: 1px solid #efefef;
}
.navbar-primary__list {  
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5em 40px;
  flex-wrap: wrap;
  align-items: center;
}
.navbar-primary__link {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black);
  margin-bottom: 30px;
}

/* main */

.main {
  background-color: var(--bg-color-seconadry);
}

/* section super */

.super {
  min-height: 600px;
  background-image: url(../image/super_chair.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-light);
  background-color: var(--bg-color-optional);
  margin-bottom: 80px;
}
.container--super {
  margin: 0 auto;
  padding: 190px 20px 170px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 50px;
}
.super__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.super__description {
  line-height: 20px;
  max-width: 350px;
}
.super__action {
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 12px 25px;
  color: var(--bg-color-primary);
  background-color: var(--bg-color-optional);
  border: 2px solid var(--border-color-light);
  border-radius: 40px;
}
.special {
  min-height: 510px;
  padding-bottom: 100px;
}
.special__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
  margin-bottom: 40px;
}
.special__list {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
}
.special__item {
  background-color: var(--bg-color-primary);
  width: 255px;
  height: 360px;
  padding: 25px 1em 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.special__image {
  padding-top: 25px;
  width: 125px;
  height: 166px;
  margin: 0 auto;
}
.special__description {
  width: 195px;
  line-height: 20px;
  text-align: center;
}
.special__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: var(--color-black);
}
.special__link {
  padding: 10px 0 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--bg-color-optional);
  border: none;
  border-radius: 30px;
  width: 130px;
  height: 35px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: var(--color-light);
  margin-bottom: 25px;
}

/* section submit */

.submit {
  min-height: 210px;
  margin-bottom: 100px;
}
.submit__bonus {
  width: 540px;
  height: 212px;
  background-color: var(--bg-color-optional);
  background-image: url(../image/bonus_bg.svg);
  background-repeat: no-repeat;
  background-position: 88% 50%;
  padding: 35px 40px;
  display: flex;
  align-items: center;
  color: var(--color-light);
}
.container--submit {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.container-bonus {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.bonus__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.bonus__description {
  line-height: 20px;
}
.bonus__mail {
  width: 225px;
  height: 35px;
  background-color: var(--bg-color-primary);
  border: none;
  border-radius: 30px;
  padding: 1em;
}
.container-location {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.submit__location {
  color: var(--color-light);
  width: 540px;
  height: 212px;
  background-color: var(--bg-color-optional);
  background-image: url(../image/map_bg.svg);
  background-repeat: no-repeat;
  background-position: 88% 50%;
  padding: 35px 40px;
  display: flex;
  align-items: center;
}
.location__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.location__description {
  line-height: 20px;
}
.location__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  line-height: 16px;
  width: 170px;
  height: 35px;
  background-color: var(--bg-color-optional);
  border: 2px solid var(--border-color-light);
  border-radius: 30px;
}

/* section brands */

.brands {
  min-height: 360px;
  margin-bottom: 80px;
}
.container--brands {
  min-height: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.brands__item {
  min-height: 33.33%;
  min-width: 25%;
  background-color: var(--bg-color-primary);
  border: 1px solid var(--border-color-line);
}
.brands__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

/* section history */

.history {
  margin-bottom: 80px;
}
.history__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
  margin-bottom: 40px;
}
.history__list {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
}
.history__item {
  background-color: var(--bg-color-primary);
  width: 255px;
  height: 360px;
  padding: 25px 1em 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.history__image {
  padding-top: 25px;
  width: 125px;
  height: 166px;
  margin: 0 auto;
}
.history__description {
  width: 195px;
  line-height: 20px;
  text-align: center;
}
.history__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: var(--color-black);
}
.history__link {
  padding: 10px 0 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--bg-color-optional);
  border: none;
  border-radius: 30px;
  width: 130px;
  height: 35px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: var(--color-light);
  margin-bottom: 25px;
}

/* section popular */

.popular {
  min-height: 370px;
  background-color: var(--bg-color-primary);
  padding: 60px 20px 40px;
  border-bottom: 1px solid var(--border-color-line);
}
.container--popular {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.popular__list {
  min-width: 255px;  
}
.popular__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  color: var(--color-black);
  border-bottom: 1px solid var(--border-color-line);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.popular__name {  
  max-width: 255px;
  font-size: 12px;
  line-height: 28px;
  color: var(--color-secondary);
}

/* section contacts */

.contacts {
  min-height: 120px;
  padding: 40px 20px 40px;
  background-color: var(--bg-color-primary);
}
.container--contacts {
  display: flex;
  justify-content:space-between;
  gap: 20px;
}
.social-network {
  display: flex;
  gap: 20px;
}
.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: var(--bg-color-primary);
  border: 2px solid var(--border-color-optional);
  border-radius: 25px;
}

/* section footer */
.footer {
  min-height: 65px;
  padding: 25px 20px 25px;
  background-color: var(--bg-color-seconadry);
}
.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: var(--color-secondary);
  font-size: 12px;
  line-height: 14px;
}